.un*
*.log
*.dvi
*.aux
*.out
*.blg
*.tns
*.toc
*.nav
*.snm
*.bak
*~
*.tmp
*.tui
*.tuo
*.mpo
*mpgraph*
*bbl
*.pyg
*.vrb
*.llt
*.data
stderr.txt
output.txt
MESA_initial_1D_models/
out*.sph
col*.sph
energy*.sph
log*.sph
parent.sph
restartrad.sph
*.txt
sph.start1u
sph.start2u
